.promotionThumbItemStyle {
	vertical-align: top;
	padding: 0px;
background-color:#FFF;
}

.promotionThumbAltItemStyle {
	vertical-align: top;
	padding: 0px;
background-color:#FFF;
}
* html div .promotionThumbAltItemStyle, * html div .promotionThumbItemStyle {
border-top: none;
}
.promotionThumb {
	background-image:url('../Content/HtmlImages/Public/Images/General/redesign06/global/promoBg.jpg');
	background-repeat: no-repeat;
	background-position: right 90;
	position:relative;
	float: left;
	width: 258px;
	height:205px;
border-bottom: 1px solid #FFF;
}
*html div .promotionThumb { /* Tan hack for IE bug*/
	width: 258px;
	w\idth: 258px;
	height:198px;
	h\eight:198px;
}
.promotionThumbAltItemStyle .promotionThumb {
	border-left:1px solid #FFF;
}
.promotionThumbTitle {
float:left;
padding: 8px 8px 0px 8px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #911A1C;
	text-align: left;
	width:250px;
	position:relative;
}

.promotionThumbImg {
text-align: left;
float: left;
position:relative;
width:258px;
position:relative;
height: 90px;
background-color:#6e6e6e;
}
* html div .promotionThumbImg {
width:258px;
w\idth:258px;
}
.promotionThumbImg a {
background-image: none;
padding:0;
margin:0;
}
.promotionThumbSummary {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px 5px 5px 8px;
	position:relative;
	float: left;
	line-height: 1.2em;
	height:5.45em;
	width:244px;

}
* html div .promotionThumbSummary { /* IE Only Settings*/
	height:65px;
	h\eight:65px;
	width:258px;
	w\idth:258px;
}
.promotionThumbMoreInfo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	float: right;
	position:relative;
	width:258px;
}
.promotionThumbMoreInfo:hover{
	background-color: #A4A3A3;
}
.promotionThumbMoreInfo a {
background-image: none;
display:block;
width:248px;
padding: 5px;
position:relative;
color: #990003;
border-bottom:none;
background-color:#FFF;
}
.promotionThumbMoreInfo a:hover {
	color: #fff;
	background-color: #990003;
	text-decoration:none;
	font-weight:normal;
	padding: 5px;
}
* html div .promotionThumbMoreInfo,* html div .promotionThumbTitle,* html div .promotionThumbMoreInfo a:hover  { 
/* IE Only Settings*/
	width:258px;
	w\idth:258px;
}
