body 
{
    margin: 0px;
	padding: 0px;
	font-family: tahoma;
	font-size: 14px;
	color: #000000;
	background-color: #000066;
}
html 
{
	/* background-color: #04184d;
	background-color: #153C60*/
	background-color: #031634
}