.TopMenuGroup
{
  background-color:#333;
}

.MenuGroup
{
  background-color:#FFFFFF;
}

.TopMenuItem
{
	font-size: 10px;
	text-transform: uppercase;
	cursor: pointer;
	color: #CCC;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding-right: 5px;
	margin: 0px;
}

.TopMenuItemActive
{
	font-weight:bold;
	padding-right:5px;
}

.TopMenuItemHoverActive
{
	font-weight:bold;
	padding-right:5px;
}

.TopMenuItemHover
{
	font-size:10px;	
	text-transform: uppercase;
	cursor: pointer;
	color:#FFF;
	font-family: Trebuchet MS,verdana;
	height: 14px;	
	padding-right: 5px;
}

.SubMenuItem
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #CCC;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 3px;
	margin: 0px;
}

.SubMenuItemActive
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #CCC;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 3px;
	margin: 0px;
}

.SubMenuItemHover
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFF;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 3px;
	margin: 0px;
}

.SubMenuItemHoverActive
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFF;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 3px;
	margin: 0px;
}

.MenuItem
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFFFFF;
	background-color:#68749A;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 0px;
	margin: 0px;	
}

.MenuItemHover
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color:#68749A;
	font-family: Trebuchet MS,verdana;
	height: 14px;
}