/* commented backslash hack \*/
html, body
{
	height: 100%;
}
/* end hack */

body
{	
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
textarea, input {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: .9em;
}
ol li {
padding: 10px;
}
#frmMain
{
	height: 100%;
	min-height: 100%;
}

#QuickSearchTable
{
	margin-left: 5px;
	margin-bottom: 5px;
}
#PageContent {
height: auto;
}
/*  This is the styles for the DIV container Layout, reverted to tables for easier styling options for backend.
#Document
{
	min-height: 100%;
	margin-top: 0;
	position: relative;
}

#clearfooter
{
	clear: both;
	height: 60px;
}

#LeftContent 
{
	height: 100%;
	left: 0;
	position: absolute;
	width: 208px;
}

#Content
{
	float: left;
	width: 99%;
	clear: both;
	padding-top: 20px;
	padding-left: 5px;
}

#Header
{

}
#MainContent
{
	float: left;
}

#RightContent
{
	float: right;
}

#FooterContent
{
	margin-left: 208px;
}

#Page
{
	height: 100%;
	margin-left: 208px;
}

#ImageButtons
{
	cursor: pointer;
	float: right;
}

#BreadCrumbs
{
	float: left;
}
*/

h2
{
	color: #555;
	font-size: 1.25em;
	margin: 0px;
	padding: 10px 5px 0px 0px;
}
h3
{
	color: #999;
	border-bottom: 1px solid #ccc;
	padding-top: 5px;
	padding-bottom: 2px;
	font-size: .8em;
	margin: 10px 0px 0px 0px;
}
h4
{
	color: #777;
	font-size: 1em;
	margin: 0px;
	padding: 10px 5px 1px 0px;
}
h5
{
	margin-bottom: 0px;
}
h6
{
	margin: 0px;
	padding: 10px 5px 1px 0px;
}

.searchHeader
{
	background-image: url(../images/search_header_c.jpg);
	background-repeat: repeat-x;
}
.searchTitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: none;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
.searchContent
{
	padding: 5px;
}
.highlightText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #08336D;
}
.footerText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4C4D4D;
	line-height: 20px;
	text-decoration: none;
}
.navText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #292A2A;
	line-height: 20px;
	text-decoration: none;
}
.navText:Hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #08336D;
	text-decoration: underline;
}
.navSelected
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4C4D4D;
	line-height: 20px;
	text-decoration: none;
}
.navSelected:Hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4C4D4D;
	text-decoration: underline;
}
.searchForm
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.subNavText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.subNavText:Hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: underline;
}
.pageTitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
}
.pageDescription
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.normalText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.boldText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.lightItalicText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	color: #B1B1B1;
	text-decoration: none;
}
.heading1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: none;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
.smallText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.tinyText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.refreshButton
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	height: 16px;
	width: 45px;
}
.menuText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: lowercase;
	color: #666666;
}
.menuText:Hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: lowercase;
	color: #666666;
	text-decoration: underline;
}
.heading2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
.heading2 DIV
{
	padding-bottom: 5px;
}

.formItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}
.formLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
.breadCrumbText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #9F9E9E;
	text-decoration: none;
}
.breadCrumbText:Hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #656464;
}
.crccBreadCrumbText
{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #68749a;
	text-decoration: none;
	text-transform: lowercase;
}
.crccBreadCrumbText:Hover
{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f1b900;
}

.anchorText
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	word-spacing: 1pt;
	line-height: 15px;
	text-decoration: none;
}
.anchorText:Hover
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	word-spacing: 1pt;
	line-height: 15px;
	text-decoration: underline;
}
.list
{
	border-top: solid 1px #B1B1B1;
	border-bottom: solid 1px #B1B1B1;
	width: 100%;
	clear: both;
}
.listLine
{
	border-bottom: solid 1px #B1B1B1;
}
.listFilter
{
	background-color: #F4F2F2;
}
.listHeader
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #494747;
	vertical-align: bottom;
	border-bottom: solid 1px #C1BFBF;
	background-color: #F7F6F6;
	background-image: url(../images/datagrid_header_background.jpg);
	background-repeat: repeat-x;
}
.listHeaderText
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #494747;
}
.listHeader a
{
	color: #484747;
}
.listHeader a span
{
	vertical-align: bottom;
	height: 100%;
	margin: 0px;
}
.listHeader a span img
{
	margin-left: 3px;
}
.listHeaderVertical
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #494747;
	vertical-align: bottom;
	border-bottom: solid 1px #C1BFBF;
	background-color: #F7F6F6;
	background-image: url(../images/datagrid_header_background.jpg);
	background-repeat: repeat-x;
}
.listHeaderVertical a
{
	color: #484747;
}
.listHeaderVertical a span
{
	vertical-align: bottom;
	height: 100%;
	margin: 0px;
}
.listHeaderVertical a span img
{
	margin-left: 3px;
}
.listItem
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #F4F2F2;
}
.listItem:hover
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #E8E5E5;
}
.listEditItem
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #F4F2F2;
}
.listAltItem
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
}
.listAltItem:hover
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #E8E5E5;
}
.listItemText
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
}
.listItemTextInactive
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #999999;
}
.listItemWithSeperator
{
	border-left: solid 1px #B1B1B1;
}
.listItemMouseOver
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #738EC5;
}
.listPager
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background-color: #F7F6F6;
	background-image: url(../images/datagrid_pager_background.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	vertical-align: bottom;
}
.listPagerItem
{
	margin-right: 12px;
}
.listFooter
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4C4D4D;
	line-height: 20px;
	text-decoration: none;
}
.blic
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
.errorText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990033;
}
.wizardBox
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #F6F4F5;
	border: solid 1px #C1BFBF;
	padding: 5px;
}

.reptWizardHeading
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #494747;
	vertical-align: middle;
	background-color: #F7F6F6;
	background-repeat: repeat-x;
	padding: 2px;
}

.reptWizardContent
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.displayNotes
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.groupDetails
{
	background-color: #F1EFF0;
	background: url(images/sg_background.jpg) no-repeat bottom right;
}
.groupDetailsEmail
{
	background-color: #F1EFF0;
	background: url(images/email_background.jpg) no-repeat bottom right;
}

.PromotionImage
{
	float: Left;
	margin-right: 5px;
	margin-bottom: 2px;
}

.teamText
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: none;
	color: #666666;
	text-decoration: none;
}

.fieldHintBox
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: solid 1px black;
	padding: 6px;
	width: 150px;
	background-color: #eeeeee;
	position: absolute;
	visibility: hidden;
	z-index: 999;
}
.formItem textarea
{
	width: 600px;
}

.personalInfo
{
	padding: 0px 0px 10px 0px;
}
.family
{
	padding: 10px 0px 10px 0px;
}
.relationships
{
	padding: 10px 0px 10px 0px;
}
.peers
{
	padding: 10px 0px 10px 0px;
}
.phones
{
	padding: 10px 0px 10px 0px;
}
.phones th, .emails th, .addresses th
{
	color: #999999;
}
.photo
{
	padding: 10px 0px 10px 0px;
}
.emails
{
	padding: 10px 0px 10px 0px;
}
.addresses
{
	padding: 10px 0px 10px 0px;
}
.attributeTable
{
	padding: 10px 0px 10px 0px;
}
th
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	color: #999999;
	padding-top: 10px;
}
th .formItem
{
    color: #999999;
}
th a
{
	color: #999999;
	text-decoration: none;
}

.areaPersonFilter
{
	float: left;
	position: relative;
	margin-top: 10px;
	padding: 10px;
	background-color: #F4F2F2;
	border-top: solid 1px #B1B1B1;
	border-right: solid 1px #B1B1B1;
	border-left: solid 1px #B1B1B1;
	clear: both;
}

.filterSettings
{
	border-collapse: collapse;
	width: 100%;
}
.filterSettings .formLabel
{
	font-size: 1.5em;
}
.filterSettings td
{
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}
.filterSettings .smallText
{
	font-size: .9em;
}
.filterLabel
{
	font-size: .75em;
	font-weight: bold;
}

/* css tooltip */
/* usage: <a class="info" href="">help<span>this is some help text</span></a> */
/* only the "help" text will be displayed.  On mouse over, then text inside the span will be displayed */
a.info
{
	position: relative;
	z-index: 24;
	color: #000;
	text-decoration: none;
}

a.info:hover
{
	z-index: 25;	
}

a.info span
{
	display: none;
}

a.info:hover span
{
	display: block;
	position: absolute;
	top: 2em;
	left: 2em;
	width: 15em;
	padding: 6px;
	border: 1px solid black;
	background-color: #eeeeee;
	color: #000;
}
#searchHeader
{
	visibility: hidden;
}

h1, .heading1
{
	color: #666666;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	font-size: 1.1em;
	line-height: 1em;
	text-align: left;
	clear: both;
}

.formButton
{
	height: auto;
	font-size: 1em;
	margin: 5px 5px 0px 0px;
	padding: 1px 1px 1px 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

input.smallText
{
	height: auto;
	font-size: 1em;
	padding: 1px 1px 1px 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

.advanced
{
	float: left;
	position: relative;
	margin: 10px 0px 10px 0px;
	color: #666666;
	text-decoration: none;
	font-size: .75em;
}
.inactive
{
	float: right;
	position: relative;
	text-decoration: none;
	font-size: .75em;
}
table.basicSearch
{
	margin-bottom: 30px;
}
.newPersonTable
{
	border-collapse: collapse;
	padding: 5px 5px 5px 0px;
}
.newPersonTable tr
{
	border-bottom: 1px solid #CCC;
}

.alert
{
	float: left;
	position: relative;
	width: 477px;
	border: 1px solid #CCC;
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	background-color: #edf7dc;
	color: #911a1c;
	font-weight: bold;
}
*html div .alert
{
	width: 100%;
}

.profileGroupCheckbox input
{
	margin: 0px;
	padding: 0px;
	height: 15px;
	width: 15px;
	margin-right: 2px;
}

.profileGroupCheckbox label
{
	vertical-align: bottom;
	color: #999999;
}

.givingWizardItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}
.givingWizardLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
.givingWizardFooterItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}
.givingWizardFooterLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
.contributionList
{
	padding: 10px;
}
.dialogButtonsContainer
{
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid Gray;
	text-align: right;
	background-color: #f0f0f0;
}

table.advancedSearch tr td.formLabel, table.basicSearch tr td.formLabel
{
	padding-left: 20px;
}

/*These relate to the modal popup*/
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=60);
	opacity: 0.60;
}

.main-table
{
	margin-left: auto;
	margin-right: auto;
}

.td-header-left
{
	background-image: url(../images/header-left.gif);
	background-repeat: no-repeat;
	height: 36px;
	width: 7px;
}

.td-header
{
	background-image: url(../images/header-top.gif);
	background-repeat: repeat-x;
	height: 36px;
}

.td-header-right
{
	background-image: url(../images/header-right.gif);
	background-repeat: no-repeat;
	height: 36px;
	width: 7px;
}

.td-body-left
{
	background-image: url(../images/body-left.gif);
	background-repeat: repeat-y;
	height: 8px;
	width: 7px;
}

.td-body
{
	background-color: white;
}

.td-body-right
{
	background-image: url(../images/body-right-white.gif);
	background-repeat: repeat-y;
	height: 8px;
	width: 7px;
}

.td-bottom-left
{
	background-image: url(../images/bottom-left.gif);
	background-repeat: no-repeat;
}

.td-bottom
{
	background-image: url(../images/bottom.gif);
	background-repeat: repeat-x;
}

.td-bottom-right
{
	background-image: url(../images/bottom-right.gif);
	background-repeat: no-repeat;
	height: 8px;
	width: 7px;
}

/*End Modal Popup CSS*/
/*Ajax CSS*/
.ajaxProgress
{
	background-color: #e5e3e4;
	padding: 5px;
	color: #000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: 700;
	opacity:.50;
	filter: alpha(opacity=50); 
	-moz-opacity: 0.5;
	height: 18px;
	width: 80px;
	text-align: center;
}
.ajaxProgress2
{
	background-image: url(../images/ajax-loading2.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
}
/*Calendar CSS*/
.ajax__calendar_container { z-index : 200000 ; background-color: #FFFFFF; border: 1px solid #ccc; }
.arenaCalendar .ajax__calendar_title 
{
	font-weight: bold; 
	cursor: pointer;
	color:Black;
}
.arenaCalendar .ajax__calendar_today 
{
	cursor: pointer;
	padding-top: 3px;
	color:Black;
}
.arenaCalendar .ajax__calendar_container 
{
	padding-right: 4px; 
	padding-left: 4px; 
	font-size: 11px; 
	padding-bottom: 4px; 
	width: 170px; 
	cursor: default; 
	padding-top: 4px; 
	font-family: tahoma,verdana,helvetica; 
	position: absolute; 
	text-align: center;
}
.arenaCalendar .ajax__calendar_body 
{
	margin: auto; 
	overflow: hidden; 
	width: 170px; 
	position: relative; 
	height: 139px;
}
.arenaCalendar .ajax__calendar_days 
{
	left: 0px; 
	margin: auto; 
	width: 170px; 
	position: absolute; 
	top: 0px; 
	height: 139px; 
	text-align: center;
}
.arenaCalendar .ajax__calendar_months 
{
	left: 0px; 
	margin: auto; 
	width: 170px; 
	position: absolute; 
	top: 0px; 
	height: 139px; 
	text-align: center;
}
.arenaCalendar .ajax__calendar_years 
{
	left: 0px; 
	margin: auto; 
	width: 170px; 
	position: absolute; 
	top: 0px; 
	height: 139px; 
	text-align: center;
}
.arenaCalendar .ajax__calendar_container TABLE 
{
	font-size: 11px;
}
.arenaCalendar .ajax__calendar_container td
{
  padding:0;
} 
.arenaCalendar .ajax__calendar_header 
{
	width: 100%; 
	height: 20px;
}
.ajax__calendar_prev 
{
	background-position: 50% 50%; 
	float: left; 
	background-image: url(WebResource.axd?d=T5Qz2-d1avf0S4hW3i2B665Kr1UC9uiBOAaBSiOTomnclwITyQAenQ3EJBT6SAo2eX73ZleGLENR28Tgl6b0nw2&t=633259125600000000); 
	width: 15px; 
	cursor: pointer; 
	background-repeat: no-repeat; 
	height: 15px;
}
.ajax__calendar_next 
{
	background-position: 50% 50%; 
	float: right; 
	background-image: url(WebResource.axd?d=T5Qz2-d1avf0S4hW3i2B665Kr1UC9uiBOAaBSiOTomnclwITyQAenQ3EJBT6SAo2tfX47PabV8_xiyJ17vgr8Q2&t=633259125600000000); 
	width: 15px; 
	cursor: pointer; 
	background-repeat: no-repeat; 
	height: 15px
}
.arenaCalendar .ajax__calendar_footer 
{
	height: 15px
}
.arenaCalendar .ajax__calendar_today 
{
	cursor: pointer; 
	padding-top: 3px;
}
.arenaCalendar .ajax__calendar_dayname 
{
	padding-right: 2px; 
	padding-left: 2px; 
	padding-bottom: 0px; 
	width: 17px; 
	padding-top: 0px; 
	height: 17px; 
	text-align: right
}
.arenaCalendar .ajax__calendar_day 
{
	padding-right: 2px; 
	padding-left: 2px; 
	padding-bottom: 0px; 
	width: 18px; 
	cursor: pointer; 
	padding-top: 0px; 
	height: 17px; 
	text-align: right
}
.arenaCalendar .ajax__calendar_month 
{
	overflow: hidden; 
	width: 40px; 
	cursor: pointer; 
	height: 44px; 
	text-align: center
}
.arenaCalendar .ajax__calendar_year 
{
	overflow: hidden; 
	width: 40px; 
	cursor: pointer; 
	height: 44px; 
	text-align: center
}
.arenaCalendar .ajax__calendar_container 
{
	border:#000000 1px solid;
	color: #000000; 
	background-color: #ffffff
}
.arenaCalendar .ajax__calendar_footer 
{
	border-top: #f5f5f5 1px solid
}
.arenaCalendar .ajax__calendar_dayname 
{
	border-bottom: #f5f5f5 1px solid
}
.arenaCalendar .ajax__calendar_day 
{
	border: #ffffff 1px solid; 
}
.arenaCalendar .ajax__calendar_month 
{
	border: #ffffff 1px solid;
}
.arenaCalendar .ajax__calendar_year 
{
	border: #ffffff 1px solid;
}
.arenaCalendar .ajax__calendar_active .ajax__calendar_day 
{
	color: #75a329;
	border: #addf59 1px solid;
	background-color: #edf9ff; 
}
.arenaCalendar .ajax__calendar_active .ajax__calendar_month 
{
	color: #75a329;
	border: #addf59 1px solid;
	background-color: #edf9ff; 
}
.arenaCalendar .ajax__calendar_active .ajax__calendar_year 
{
	color: #75a329;
	border: #addf59 1px solid;
	background-color: #edf9ff; 
}
.arenaCalendar .ajax__calendar_other .ajax__calendar_day 
{
	color: #646464; 
	border: #ffffff 1px solid;	
	background-color: #ffffff; 
}
.arenaCalendar .ajax__calendar_hover .ajax__calendar_day 
{
	color: #75a329; 
	border: #addf59 1px solid;	 
	background-color: #edf9ff; 
}
.arenaCalendar .ajax__calendar_hover .ajax__calendar_month 
{
	color: #75a329;
	border: #addf59 1px solid;
	background-color: #edf9ff;
}
.arenaCalendar .ajax__calendar_hover .ajax__calendar_year 
{
	color: #75a329; 
	border: #addf59 1px solid;
	background-color: #edf9ff;
}
.arenaCalendar .ajax__calendar_hover .ajax__calendar_title 
{
	color: #75a329
}
.arenaCalendar .ajax__calendar_hover .ajax__calendar_today 
{
	color: #75a329;
}
/*End Calendar CSS*/

.listSearch
{
	opacity: 0.70;
	border: 1px solid black;
	z-index: 500;
	background-color: #eeeeee;
	font-size:x-small;		
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

/* Start CA ComboBox CSS */
.comboBox 
{ 
  border: 1px solid #B1B1B1; 
  background-color: white; 
}

.comboBoxHover
{ 
  border: 1px solid #B1B1B1; 
  background-color: white; 
}

.comboDropDown 
{ 
  border: 1px solid #868686; 
  background-color: white; 
  padding: 1px;
  padding-right: 0px;
  width: 500px;
  cursor: default;
}

.comboTextBox
{
	border: 0px;
	padding-left: 2px;
	padding-right: 2px;
  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}

.comboTextBoxHover
{
  background-color: #B2B4BF; 
}

.comboItem
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
}

.comboListItem
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #F4F2F2;
	padding: 1px;
}

.comboListAltItem
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 1px;
}

.comboItemHover
{
  	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	background-color: #E8E5E5;
	padding: 1px;
}

.comboItemSelected
{
  	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	background-color: #E8E5E5;
	border: solid 1px #738EC5;
	padding: 1px;
}

.origcomboItemHover
{
	background-color: #E8E5E5;
  background-color: #B2B4BF; 
  background-image: url(images/comboItemBg.gif);
  font-family: Verdana; 
  font-size: 11px; 
  border: 1px solid #DBCE99;
}

.headingRow 
{ 
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #494747;
	vertical-align: bottom;
	border-bottom: solid 1px #C1BFBF;
	background-color: #F7F6F6; 
	background-image: url(../images/datagrid_header_background.jpg);
	background-repeat: repeat-x;
}

.headingCell 
{ 
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #494747;
	vertical-align: bottom;
	border-bottom: solid 1px #C1BFBF;
	background-color: #F7F6F6; 
	background-image: url(../images/datagrid_header_background.jpg);
	background-repeat: repeat-x;
	text-align: left;
	padding: 1px;
}

.dataRow 
{ 
  /*background-color: #F4F2F2; */
}

.dataCell 
{ 
  /*font-family: Tahome, Arial, Helvetica;
  font-size: 10px; 
  color: #000000;
  background-color: #F4F2F2;*/
} 

/* End CA ComboBox CSS */


/* Begin dock CSS classes */

.dockCell
{
  padding:10px;
}

.dockHeader
{
	color: #777777;
	background-color: #E0DFE3;
	background-image: url(../images/dock_header.gif);
	border: 1px solid #cccccc;
	font-family: Tahoma;
	font-weight: bold;
	height: 22px;
}

.dockHeader .title
{
	padding: 3px;
	cursor: move;
	font-size: 11px;
	width: 100%;
}

.dockHeader .menu
{
	width: 15px;
	padding: 1px;
	padding-right: 3px;
}

.dockContent
{
	padding: 3px;
	border: 1px solid #cccccc;
	border-top-width: 0px;
	background-color: white;
	cursor: default;
	margin-bottom: 10px;
}

a.dockMenuButton
{
	cursor: default;
	display: block;
	background: url(../images/dock_menu.gif) 0 0 no-repeat;
	text-decoration: none;
	width: 15px;
	height: 14px;
}

a.dockMenuButton:hover
{
	cursor: pointer;
	display: block;
	background: url(../images/dock_menu_hover.gif) 0 0 no-repeat;
	text-decoration: none;
	width: 15px;
	height: 14px;
}

a.dockMenuButton:active
{
	cursor: pointer;
	display: block;
	background: url(../images/dock_menu_active.gif) 0 0 no-repeat;
	text-decoration: none;
	width: 15px;
	height: 14px;
}

.dockMenuGroup
{
	background-color: White;
	border: solid 1px gray;
}

.dockMenuItem
{
	background-color:white; 
	padding: 3px;
	font-family:verdana; 
	font-size:12px; 
	border:solid 1px white; 
	cursor:pointer;
}

.dockMenuItemHover
{
	background-color:silver; 
	padding: 3px;
	color:black; 
	font-family:verdana; 
	font-size:12px; 
	border:solid 1px gray; 
	cursor:pointer;
}

.dockCatalog
{	
	max-height: 300px;
	min-height: 200px;
	width: 500px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.dockCatalogTable
{	
	width: 100%;
}

.dockCatalogTable td
{
	padding: 5px;
}

.dockCatalogCheckBoxCell
{
	width: 30px;
	text-align: center;
}

.dockCatalogImageCell
{
	width: 50px;
	text-align: center;
}

.dockCatalogImage
{
}

.dockCatalogDescriptionCell
{	
}

.dockCatalogTitle
{
}

.dockCatalogDescription
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.dockCatalogTable .item
{
}

.dockCatalogTable .altItem
{
	background-color: #F4F2F2;
}

/* End dock CSS classes */

.linkItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: blue;
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
}

/* Add for new List*/
.listLabel
{
	padding-left: 10px;
	display:block;
	float:left;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.reportLeftHeader
{
	height: 30px;
	width:20px;
	background-image: url("../images/report_criteria_left_bigger.gif");
	background-repeat:no-repeat;
}

.reportMiddleHeader
{
	height:30px;
	width:600px;
	background-image:url("../images/report_criteria_middle.gif");
	background-repeat:repeat-x;
}

.reportRightHeader
{
	height: 30px;
	width:20px;
	background-image: url("../images/report_criteria_right.gif");
	background-repeat:no-repeat;
}

.listWizard
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #f6f4f5;
	border-color:#c1bfbf;
	border-width:1px;
	border-style:solid;
	
}

.listWizardStep
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* CSS for Assignments */

.assignmentsLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.assignmentsLabelRequired
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.assignmentsForm
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}

.assignmentTypeEntryListHeading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
}

.assignmentTypeEntryListSubheading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #f6f4f5;
	border-color:#c1bfbf;
	border-width:1px;
	border-style:solid;
	
}


.assignmentTypeEntryListContainer ul {
list-style-type: none;
margin:0;
padding:0;
}
.assignmentTypeEntryListContainer li {
margin:0 0 20px 0;
padding-top: 10px;
border-top: 1px solid #ccc;
}
.assignmentTypeEntryListContainer h3 {
border: 0;
margin: 0;
padding: 0;
}
.assignmentTypeEntryListContainer p {
margin:0;
padding:0;
}
.assignmentTypeEntryListContainer img {
	border-width: 0px;
	float: left;
	margin-right: 10px;
}

.assignmentDetailContainer
{
	width: 600px;
}

.assignmentDetailHeading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: none;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 5px;
}

.assignmentDetailDescription
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	padding: 0px;
}

.assignmentDetailTopButtons
{
	margin-top: 20px;
}

.assignmentDetailTable
{
    clear: both;
	margin-top: 20px;
}

.assignmentDetailButton
{
	width: 75px;
}

.assignmentDetailResolutionTable
{
	margin-top: 20px;
	width: 600px;
	border: 1px solid gray;
	background-color: #E3E3E3;
}

.assignmentDetailNewNoteTable
{
	margin-top: 20px;
}

.assignmentDetailHistoryTable
{
	margin-top: 20px;
	width: 600px;
}

.assignmentDetailHistoryHeading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	color: #999999;
	margin-bottom: 5px;
	display: block;
}

.assignmentDetailHistoryItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.assignmentDetailHistoryAltItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.assignmentDetailHistoryTable .action
{
	font-weight: bold;
	color: #333333;
}

.assignmentDetailHistoryTable .time
{
	font-weight: normal;
	color: gray;
	margin-left: 10px;
	font-size: 10px;
}

.assignmentDetailHistoryTable .changes
{
	margin-left: 20px;
	color: gray;
	font-size: 10px;
}

.assignmentDetailHistoryTable .note
{
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.myAssignmentListHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
    border-bottom:1px solid #999999;
	margin-top: 20px;
    margin-bottom:3px
}

.myAssignmentListAssignmentType
{
	font-weight: bold;
	font-size: 10px;
	margin-top: 5px;
}

.myAssignmentListTable
{
	margin-left: 0px;
	margin-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.myAssignmentListTitle
{
	width: 150px;
	vertical-align: top;
}

.myAssignmentListStatus
{
	width: 75px;
	text-align: center;
	vertical-align: top;
}

.myAssignmentListPerson
{
	width: 125px;
	vertical-align: top;
}

.myAssignmentListTable td
{
	padding: 2px;
}

.subHead {
margin:0 0 10px 0;
padding:0;
font-size: .7em;
}

/* New CSS Assignments from CCV */
.assignmentTypeEntryListContainer ul {
list-style-type: none;
margin:10px 0 0 0;
padding:0;
width: 100%;
}
.assignmentTypeEntryListContainer li {
float: left;
clear: both;
width: 100%;
margin:0 0 20px 0;
padding-top: 10px;
border-top: 1px solid #ccc;
}
.assignmentTypeEntryListContainer h2, .assignmentEntry h2 {
margin: 0;
padding: 0;
}
.assignmentTypeEntryListContainer h3 {
border: 0;
margin: 0;
padding: 0;
}
.assignmentTypeEntryListContainer p {
font-size: .7em;
}
.assignmentTypeEntryListContainer img {
	border-width: 0px;
	float: left;
	margin-right: 10px;
}

.assignmentEntryTable
{
    padding-top:10px;
}

.assignmentEntry label {
	font-size: 11px;
	color: #333333;
	font-weight: bold;
}

.clickToCallIcon 
{
    cursor: pointer;
    float: left;   
}

.clickToCallIconNoFloat
{
    cursor:pointer;
}

/* Classes for hiding in Reports*/
#BreadCrumbArea {
display: none;
}
img {
display: none;
}
table.list img {
display: block;
}
.tblMergeDocuments, .tblMergeReports, .MergeDescription {
display: none;
}


