body 
{
    margin: 0px;
	padding: 0px;
	font-family: tahoma;
	font-size: 14px;
	color: #000000;
	background-color: #880000;
}
html {
	/*background-color: #880000;*/
	background-color: #A30006
	/*background-color: #9F111B*/
}
