.TopMenuGroup
{
  background-color:#FFFFFF;
}

.MenuGroup
{
  background-color:#FFFFFF;
}

.TopMenuItem
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFFFFF;
	background-color:#68749A;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 0px;
	margin: 0px;
	border: solid 1px #CCCCCC;
}

.TopMenuItemHover
{
	font-size:10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color:#68749A;
	background-color: #FFFFFF;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	border: solid 1px #CCCCCC;
}

.SubMenuItem
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFFFFF;
	background-color:#68749A;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 0px;
	margin: 0px;
	border: solid 1px #CCCCCC;
}

.SubMenuItemHover
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color:#68749A;
	background-color: #FFFFFF;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	border: solid 1px #CCCCCC;
}

.MenuItem
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFFFFF;
	background-color:#68749A;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 0px;
	margin: 0px;
	border: solid 1px #CCCCCC;
}

.MenuItemHover
{
	font-size: 10px;
	font-weight:500;
	text-transform: uppercase;
	cursor: pointer;
	color:#68749A;
	background-color: #FFFFFF;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	border: solid 1px #CCCCCC;
}

