.TopMenuGroup
{
  padding: 0px 0px 0px 20px;
}

.MenuGroup
{
  padding: 0px 0px 0px 30px;
}

.TopMenuItem
{
	font-size: 12px;
	font-weight:bold;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Arial;
	height: 14px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
	border: none;
	vertical-align: middle;
}

.TopMenuItemHover
{
	font-size:12px;
	font-weight:bold;
	cursor: pointer;
	color:#FFFFFF;
	background-color: #9ebbd2;
	font-family: Arial;
	height: 14px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
	border: none;
	vertical-align: middle;
}

.TopMenuItemActive
{
	padding: 0px 0px 8px 0px;
	font-style: italic;
}

.TopMenuItemHoverActive 
{
	padding: 0px 0px 8px 0px;
	font-style: italic;
	background-color: #9ebbd2;
	cursor: pointer;
}

.MenuItem
{
	font-size: 12px;
	font-weight:bold;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Arial;
	height: 14px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
	border: none;
	vertical-align: middle;
}

.MenuItemHover
{
	font-size:12px;
	font-weight:bold;
	cursor: pointer;
	color:#FFFFFF;
	background-color: #9ebbd2;
	font-family: Arial;
	height: 14px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
	border: none;
	vertical-align: middle;
}

.SubMenuItem
{
	font-size: 12px;
	font-weight:bold;
	cursor: pointer;
	color: #FFFFFF;
	background-color:#9e9e9d;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	padding: 0px 0px 0px 0px;
	border: solid 1px #9ebbd2;
}

.SubMenuItemHover
{
	font-size: 12px;
	font-weight:bold;
	cursor: pointer;
	color:#9ebbd2;
	background-color: #827f77;
	font-family: Trebuchet MS,verdana;
	height: 14px;
	border: solid 1px #9ebbd2;
}
